<section id="country-edit">
    <h2>Country Details</h2>
    <div id="editor">
                <p>Country Code :</p>
                <p ng-bind="selectedCountry.countrycode" id="A3Code"></p><br/>
                <p>Name :</p>
                <p ng-bind="selectedCountry.countryname" id="name"></p><br/>
                <p>Region :</p>
                <p ng-bind="selectedCountry.Region" id="region"></p><br/>
                <p>Population :</p>
                <p ng-bind="selectedCountry.countrypopulation" id="population"></p><br/>
                <p>Capital :</p>
                <p ng-bind="selectedCountry.cityname" id="capital"></p><br/>
    </div>

</section>

